header {
  width: 100%;
  background-color: #dabd4b;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.profile-pic {
  display: flex;
  justify-content: center;

}

.profile-name h2 {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  color: white;
}