#main-header {
  width: 100vw;
  background-color: #e5c959;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.profile-pic {

  display: flex;
  justify-content: center;

}
.name {
  font-family: 'Source Sans Pro', sans-serif;
}

.profile-name {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  /* changed profile pic */
  padding-top: 20px;
}

@media only screen and (max-width:500px) {
  .arrow-container {
    display: none;
  }
  .container {
    font-size: large;
    width: 100vw;
  }
  body {
    width: 100vw;
  }
  .headernMain {
    width: 100vw;
    flex-direction: column;
  }
}

@media only screen and (max-width:1023px) {
  nav {
    background-color: #e5c959;
  }
}

@media only screen and (min-width:1024px) {
  #main-header {
    width: 30vw;
    margin-top: 250px;
    margin-left: 80px;
    margin-right: 80px;
  }
  .headernMain {
    display: flex;
    flex-direction: row;
  }
  .container {
    margin-top: 250px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .profile-pic {
    margin: 15px;
  }
}